.header{
    grid-area: header;
    background-color: rgb(143, 147, 144);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
   
  }
  .header img {
    width: 50px;
    height: 50px;
  }

  .loginBlock{
   
  float: right;
  }
  .loginBlock a {
    color: #fff;
    text-decoration: none;
  }